[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

pandas = "*"
jupyterlab = "*"
sklearn = "*"
quandl = "*"
matplotlib = "*"
black = "*"


[dev-packages]

